body {
  text-align: center;
  background-color: #0063cc7c;
  padding-top: 5rem;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  border: 5px solid black;
}

.game-over {
  background-color:tomato;
  opacity: 0.8;
}

.red {
  background-color: red;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 20%;
  
}

.green {
  background-color: green;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 20%;
}

.blue {
  background-color: blue;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 20%;
}

.yellow {
  background-color: yellow;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 20%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.cry{
  width: 100px;
  display:inline;
}
.happy{
  width: 80px;
  height: 100px;
  display:inline;
}
h1{
  display: inline;
  padding-top: 20px;
}
.lost
{
  display: none;
}
.levelup
{
  display: none;
}
.row{
  display: inline;
}
.start-game
{
  padding: 1% 3%;
  font-size: large;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  border:  2px solid black;
  border-radius: 10%;
}
